
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="container">

<% if current_user %>

	<div class="row">

		<%= form_tag("/choose_repo", method: "post") do %>


			<div class="col-lg-5 form-group">
				<%= select_tag(:repository, options_for_select(@repos, @selected_repo), class:"form-control") %>
			</div>
			<div class="col-lg-5 form-group">
				<%= select_tag(:priority, options_for_select(@priority_labels, @selected_priority), class:"form-control") %>
			</div>
			<div class="col-lg-2 form-group">
				<%= submit_tag("Display Estimates", class:"btn btn-primary") %>
			</div>
		<% end %>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<a href='/update_velocities' class="btn btn-primary">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
				Update Collaborator History
			</a>
			<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
		</div>
	</div>
	

	<h3 id="milestones">Milestones</h3>
	<hr>
	<% if @milestones.length > 0 %>
	<% @milestones.each_with_index do |milestone, i| %>
		<h4 style="font-weight:bold;"><%= "#{milestone.title}" %></h4>
		

		<% if @data_stores[i].empty? %>

			<i>No developer information for milestone - you should assign developers to your issues and have them put estimates in the issue body.</i>

		<% else %>
			<!-- Line Chart --> 
			<div class="row">
				<div class="col-lg-6">
					<label>Ready-to-Ship likelihood by hours from now</label>
					<div id=<%= "chart_div#{i.to_s}" %> class="chart" ></div>
				</div>
			
			<script>
				google.charts.load('current', {packages: ['corechart', 'line']});
				google.charts.setOnLoadCallback(drawBasic);

				function drawBasic() {

				      var data = new google.visualization.DataTable();
				      data.addColumn('number', 'X');
				      data.addColumn('number', 'Percent Certainty');

				      data.addRows(<%= raw @shipping_prob[i] %>);

				      var options = {
				        hAxis: {
				          title: 'Hours From Now',
					      viewWindow: {
					      	min: 0
				           }
				        },
				        vAxis: {
				          title: 'Percent Certainty'
				        }
				      };

				      var chart = new google.visualization.LineChart(document.getElementById('<%= "chart_div#{i.to_s}" %>'));

				      chart.draw(data, options);
				    }
			</script>


			<!-- Box and Whisker -->
			<div class="col-lg-6">
				<label>Distribution of possible ship dates by developer</label>
				<div id=<%= "box_plot#{i.to_s}" %> class="chart"></div>
			</div>
			<script>
			    google.charts.load('current', {'packages':['corechart']});
			    google.charts.setOnLoadCallback(drawBoxPlot);

			    function drawBoxPlot() {

			      
			      var array = <%= raw @boxplots[i] %>

			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'x');
			      data.addColumn('number', 'Maximum');
			      data.addColumn('number', 'Minimum');
			      data.addColumn('number', '25th Percentile');
			      data.addColumn('number', '50th Percentile');
			      data.addColumn('number', '75th Percentile');

			      data.addColumn({id:'max', type:'number', role:'interval'});
			      data.addColumn({id:'min', type:'number', role:'interval'});
			      data.addColumn({id:'firstQuartile', type:'number', role:'interval'});
			      data.addColumn({id:'median', type:'number', role:'interval'});
			      data.addColumn({id:'thirdQuartile', type:'number', role:'interval'});

			      data.addRows(array);

			      /**
			       * Takes an array of input data and returns an
			       * array of the input data with the box plot
			       * interval data appended to each row.
			       */
			      function getBoxPlotValues(array) {

			        for (var i = 0; i < array.length; i++) {

			          var arr = array[i].slice(1).sort(function (a, b) {
			            return a - b;
			          });

			          var max = arr[arr.length - 1];
			          var min = arr[0];
			          var median = getMedian(arr);

			          // First Quartile is the median from lowest to overall median.
			          var firstQuartile = getMedian(arr.slice(0, 4));

			          // Third Quartile is the median from the overall median to the highest.
			          var thirdQuartile = getMedian(arr.slice(3));

			          array[i][8] = max;
			          array[i][9] = min
			          array[i][10] = firstQuartile;
			          array[i][11] = median;
			          array[i][12] = thirdQuartile;
			        }
			        return array;
			      }

			      /*
			       * Takes an array and returns
			       * the median value.
			       */
			      function getMedian(array) {
			        var length = array.length;

			        /* If the array is an even length the
			         * median is the average of the two
			         * middle-most values. Otherwise the
			         * median is the middle-most value.
			         */
			        if (length % 2 === 0) {
			          var midUpper = length / 2;
			          var midLower = midUpper - 1;

			          return (array[midUpper] + array[midLower]) / 2;
			        } else {
			          return array[Math.floor(length / 2)];
			        }
			      }

			      var options = {
			          legend: {position: 'none'},
			          hAxis: {
			            gridlines: {color: '#fff'},
			            title: 'Developers'
			          },
			          vAxis: {
			          	title: 'Hours'
			          },
			          lineWidth: 0,
			          series: [{'color': '#D3362D'}],
			          intervals: {
			            barWidth: 1,
			            boxWidth: 1,
			            lineWidth: 2,
			            style: 'boxes'
			          },
			          interval: {
			            max: {
			              style: 'bars',
			              fillOpacity: 1,
			              color: '#777'
			            },
			            min: {
			              style: 'bars',
			              fillOpacity: 1,
			              color: '#777'
			            }
			          }
			      };

			      var chart = new google.visualization.LineChart(document.getElementById('<%= "box_plot#{i.to_s}" %>'));

			      chart.draw(data, options);
			    }


			</script>
			</div>
		<% end %>

		


	<% end %>
	<% else %>
		<i>There are no milestones for this issue</i>
	<% end %>

	<!-- Dev Info -->


	<br>
	<h3 id="team-estimate-history">Team Estimate History</h3>
	<hr>
	<div class="row">
		<div class="col-lg-12">
			<label>Team Estimate History</label>
			<div id=<%= "estimates_all_devs" %> class="chart"></div>
		</div>
	</div>
	
	<h3 id="individual-estimate-history">Collaborators</h3>
	<hr>
	<% if @collabs.empty? %>
		<i>No estimate history exists for the developers in this repository!</i>
	<% end %>

	<div class="row">
	<% @collabs.each do |collab| %>
		<div class="col-lg-6">
			<label><%= collab.login %></label>
			<div id=<%= "estimates_#{collab.login}" %> class="chart"></div>
		</div>
		<script>
		  google.charts.load('current', {'packages':['corechart']});
	      google.charts.setOnLoadCallback(drawChart);
	      function drawChart() {
	        var data = google.visualization.arrayToDataTable(<%= raw collab.get_history_chart_data %>);

	        var options = {
	          hAxis: {minValue: 0, maxValue: 15, title:'Estimated Hours'},
	          vAxis: {minValue: 0, maxValue: 15, title: 'Actual Hours'},
	          trendlines: {
	            0: {
	              type: 'linear',
	            },
	            1: {
	              type: 'linear',
	              pointsVisible: false
	            }
	          },
	          series: {1: {pointsVisible: false, visibleInLegend: false}},
	          legend: { position: 'none' }
	        };

	        var chartLinear = new google.visualization.ScatterChart(document.getElementById('<%= "estimates_#{collab.login}" %>'));
	        chartLinear.draw(data, options);

	        
	      }
		</script>
	<% end %>
	</div>


	<script>
	  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= raw @combined_collab_history_chart %>);

        var options = {
          hAxis: {minValue: 0, maxValue: 15, title:'Estimated Hours'},
          vAxis: {minValue: 0, maxValue: 15, title: 'Actual Hours'},
          trendlines: {
            0: {
              type: 'linear',
              pointsVisible: false
            },
            <% @collabs.length.times do |i| %>
            	<% if @collabs.length-1 == i %>
            		<%= i+1%>:{type: 'linear'}
            	<% else %>
            		<%= i+1%>:{type: 'linear'},
            	<% end %>

            <% end %>

          },
          series: {0: {pointsVisible: false, visibleInLegend: false}},
          legend: { position: 'bottom' }
        };

        var chartLinear = new google.visualization.ScatterChart(document.getElementById('<%= "estimates_all_devs" %>'));
        chartLinear.draw(data, options);

        
      }
	</script>

	<!-- End dev info -->




	







<% else %>
	<h1>Sign In With GitHub</h1>
	
<% end %>
</div>











