



<% if current_user %>
	<p>Welcome, <%= current_user.name %></p>


	<%= form_tag("/choose_repo", method: "post") do %>
		<%= select_tag(:repository, options_for_select(@repos, @selected_repo)) %>
		<%= submit_tag("Display Estimates") %>
	<% end %>

	<% unless @selected_repo.nil? %>
		<p><%= @selected_repo %></p>
	<% end %>

	<% @milestones.each do |milestone| %>
		<p><%= milestone.title %></p>
	<% end %>






<% else %>
	<%= link_to "Sign in with Github", "/auth/github" %>
<% end %>

