
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



<% if current_user %>
	<p>Welcome, <%= current_user.name %></p>


	<%= form_tag("/choose_repo", method: "post") do %>
		<%= select_tag(:repository, options_for_select(@repos, @selected_repo)) %>
		<%= submit_tag("Display Estimates") %>
	<% end %>

	<% @milestones.each_with_index do |milestone, i| %>
		<h5><%=  @selected_repo + '/' %></h5><h3><%= milestone.title %></h3>
		<img src=<%= @boxplots[i] %> alt=<%= milestone.title %> >


		<hr>
		<div id=<%= "chart_div#{i.to_s}" %> ></div>
		<script>
			google.charts.load('current', {packages: ['corechart', 'line']});
			google.charts.setOnLoadCallback(drawBasic);

			function drawBasic() {

			      var data = new google.visualization.DataTable();
			      data.addColumn('number', 'X');
			      data.addColumn('number', 'Hours');

			      data.addRows(<%= raw @shipping_prob[i] %>);

			      var options = {
			      	title: 'Ready-to-Ship likelihood by hours from now',
			        hAxis: {
			          title: 'Percent Certainty'
			        },
			        vAxis: {
			          title: 'Hours'
			        }
			      };

			      var chart = new google.visualization.LineChart(document.getElementById('<%= "chart_div#{i.to_s}" %>'));

			      chart.draw(data, options);
			    }
		</script>
	<% end %>

	<p><a href='/update_velocities'>Update Collaborator History</a></p>







<% else %>
	<%= link_to "Sign in with Github", "/auth/github" %>
<% end %>









