
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="container">

<% if current_user %>

<% if @warnings %>
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Warning!</h4>
  <p><%= @warnings %></p>
</div>
<% end %>

	<div class="row">

		<%= form_tag("/choose_repo", method: "post") do %>


			<div class="col-lg-5 form-group">
				<%= select_tag(:repository, options_for_select(@repos, @selected_repo), class:"form-control") %>
			</div>
			<div class="col-lg-5 form-group">
				<%= select_tag(:priority, options_for_select(@priority_labels, @selected_priority), class:"form-control") %>
			</div>
			<div class="col-lg-2 form-group">
				<%= submit_tag("Display Estimates", class:"btn btn-primary") %>
			</div>
		<% end %>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<a href='/update_velocities' class="btn btn-info">
				<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
				Update Collaborator History
			</a>
			<a href="#" rel="tooltip" title="Updating collaborator estimation history is time consuming and resource intensive so we only do it when you ask."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
			
		</div>
	</div>
	

	<h3 id="milestones">Milestones</h3>
	<hr>
	<% if @milestones.length > 0 %>
	<% @milestones.each_with_index do |milestone, i| %>
		<h4 style="font-weight:bold;"><%= "#{milestone.title}" %></h4>
		

		<% if @data_stores[i].empty? %>

			<i>No developer information for milestone - you should assign developers to your issues.</i>
			<a href="#" rel="tooltip" title="If you assigned a developer and they aren't showing up, first make sure they have placed an estimate on the issue.  If that doesn't do it, click update collaborator history."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
			



		<% else %>
			<!-- Line Chart --> 
			<div class="row">
				<div class="col-lg-6">
					
					<label class="hover" type="button" data-toggle="modal" data-target=<%= "#line_chart_modal#{i.to_s}" %> >Ready-to-Ship likelihood by hours from now </a></label>

					
					<a href="#" rel="tooltip" title="The steeper the curve, the more confident you are that the ship date is real."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
					

					<div id=<%= "chart_div#{i.to_s}" %> class="chart" ></div>
				</div>

				<%= render "modal", {modal_id: "line_chart_modal#{i.to_s}", title:"Ready-to-Ship likelihood by hours from now", chart_id:"line_chart_modal_div#{i.to_s}"}%>
			
			<script>
				google.charts.load('current', {packages: ['corechart', 'line']});
				google.charts.setOnLoadCallback(drawBasic);
				

				function drawBasic() {

				      var data = new google.visualization.DataTable();
				      data.addColumn('number', 'X');
				      data.addColumn('number', 'Percent Certainty');

				      data.addRows(<%= raw @shipping_prob[i] %>);

				      var options = {
				      	legend: {position: 'none'},
				        hAxis: {
				          title: 'Hours From Now',
					      viewWindow: {
					      	min: 0
				           }
				        },
				        vAxis: {
				          title: 'Percent Certainty'
				        }


				      };

				      var chart = new google.visualization.LineChart(document.getElementById('<%= "chart_div#{i.to_s}" %>'));

				      var modalChart = new google.visualization.LineChart(document.getElementById('<%= "line_chart_modal_div#{i.to_s}" %>'));

				      chart.draw(data, options);
				      //$('<%= "#line_chart_modal_div#{i.to_s}" %>').modal("show");
				      modalChart.draw(data, options);
				      //$('<%= "#line_chart_modal_div#{i.to_s}" %>').modal("hide");
				    }

				    //Redraw chart when modal opens
				    $('<%= "#line_chart_modal#{i.to_s}" %>').on('shown.bs.modal', function (e) {
				    	drawBasic();
					})

				    //Redraw chart when window resizes
				    $(window).resize(function(){
					  	drawBasic();
					});
			</script>


			<!-- Box and Whisker -->
			<div class="col-lg-6">
				<label class="hover" type="button" data-toggle="modal" data-target=<%= "#box_plot_modal#{i.to_s}" %> >Distribution of possible ship dates by developer</label>
				<a href="#" rel="tooltip" title="Some developers may be causing problems because their ship dates are so uncertain: they need to work on learning to estimate better. Other developers have very precise ship dates that are just too late: they need to have some of their work taken off their plate."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>

				<div id=<%= "box_plot#{i.to_s}" %> class="chart"></div>

				<%= render "modal", {modal_id: "box_plot_modal#{i.to_s}", title:"Distribution of possible ship dates by developer", chart_id:"box_plot_modal_div#{i.to_s}"}%>
			</div>
			<script>
			    google.charts.load('current', {'packages':['corechart']});
			    google.charts.setOnLoadCallback(drawBoxPlot);

			    function drawBoxPlot() {

			      
			      var array = <%= raw @boxplots[i] %>

			      var data = new google.visualization.DataTable();
			      data.addColumn('string', 'x');
			      data.addColumn('number', 'Maximum');
			      data.addColumn('number', 'Minimum');
			      data.addColumn('number', '25th Percentile');
			      data.addColumn('number', '50th Percentile');
			      data.addColumn('number', '75th Percentile');

			      data.addColumn({id:'max', type:'number', role:'interval'});
			      data.addColumn({id:'min', type:'number', role:'interval'});
			      data.addColumn({id:'firstQuartile', type:'number', role:'interval'});
			      data.addColumn({id:'median', type:'number', role:'interval'});
			      data.addColumn({id:'thirdQuartile', type:'number', role:'interval'});

			      data.addRows(array);

			      /**
			       * Takes an array of input data and returns an
			       * array of the input data with the box plot
			       * interval data appended to each row.
			       */
			      function getBoxPlotValues(array) {

			        for (var i = 0; i < array.length; i++) {

			          var arr = array[i].slice(1).sort(function (a, b) {
			            return a - b;
			          });

			          var max = arr[arr.length - 1];
			          var min = arr[0];
			          var median = getMedian(arr);

			          // First Quartile is the median from lowest to overall median.
			          var firstQuartile = getMedian(arr.slice(0, 4));

			          // Third Quartile is the median from the overall median to the highest.
			          var thirdQuartile = getMedian(arr.slice(3));

			          array[i][8] = max;
			          array[i][9] = min
			          array[i][10] = firstQuartile;
			          array[i][11] = median;
			          array[i][12] = thirdQuartile;
			        }
			        return array;
			      }

			      /*
			       * Takes an array and returns
			       * the median value.
			       */
			      function getMedian(array) {
			        var length = array.length;

			        /* If the array is an even length the
			         * median is the average of the two
			         * middle-most values. Otherwise the
			         * median is the middle-most value.
			         */
			        if (length % 2 === 0) {
			          var midUpper = length / 2;
			          var midLower = midUpper - 1;

			          return (array[midUpper] + array[midLower]) / 2;
			        } else {
			          return array[Math.floor(length / 2)];
			        }
			      }

			      var options = {
			          legend: {position: 'none'},
			          hAxis: {
			            gridlines: {color: '#fff'},
			            title: 'Developers'
			          },
			          vAxis: {
			          	title: 'Hours'
			          },
			          lineWidth: 0,
			          series: [{'color': '#D3362D'}],
			          intervals: {
			            barWidth: 1,
			            boxWidth: 1,
			            lineWidth: 2,
			            style: 'boxes'
			          },
			          interval: {
			            max: {
			              style: 'bars',
			              fillOpacity: 1,
			              color: '#777'
			            },
			            min: {
			              style: 'bars',
			              fillOpacity: 1,
			              color: '#777'
			            }
			          }
			      };

			      var chart = new google.visualization.LineChart(document.getElementById('<%= "box_plot#{i.to_s}" %>'));

			      var modalChart = new google.visualization.LineChart(document.getElementById('<%= "box_plot_modal_div#{i.to_s}" %>'));

			      chart.draw(data, options);
			      modalChart.draw(data, options);
			    }

			    //Redraw chart when modal opens
			    $('<%= "#box_plot_modal#{i.to_s}" %>').on('shown.bs.modal', function (e) {
			    	drawBoxPlot();
				})

			    //Redraw chart when window resizes
			    $(window).resize(function(){
				  	drawBoxPlot();
				});


			</script>
			</div>
		<% end %>

		


	<% end %>
	<% else %>
		<i>There are no milestones for this repository</i>
		<a href="#" rel="tooltip" title="Not working how you thought? Click on 'How to Use This Site'"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
	<% end %>

	<!-- Dev Info -->

	<% unless @milestones.length == 0 or @collabs.empty? %>

	<br>
	<h3 id="team-estimate-history">Team Estimate History</h3>
	<hr>
	<% if @collabs.empty? %>
		<i>No estimate history exists for the developers in this repository</i>
	<% else %>
	<div class="row">
		<div class="col-lg-12">
			<label class="hover" type="button" data-toggle="modal" data-target=<%= "#estimates_all_devs_modal" %> >Team Estimate History</label>
			<a href="#" rel="tooltip" title="Developers with trend lines above the purple 'Perfect Estimator' tend to underestimate."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
			<div id=<%= "estimates_all_devs" %> class="chart"></div>

			<%= render "modal", {modal_id: "estimates_all_devs_modal", title:"Team Estimate History", chart_id:"estimates_all_devs_modal_div"}%>

		</div>
	</div>
	<% end %>
	
	<h3 id="individual-estimate-history">Collaborators</h3>
	<hr>
	<% if @collabs.empty? %>
		<i>No estimate history exists for the developers in this repository</i>
	<% end %>

	<div class="row">
	<% @collabs.each do |collab| %>
		<div class="col-lg-6">
			<label class="hover" type="button" data-toggle="modal" data-target=<%= "#estimates_#{collab.login}_modal" %> ><%= collab.login %></label>
			<div id=<%= "estimates_#{collab.login}" %> class="chart"></div>

			<%= render "modal", {modal_id: "estimates_#{collab.login}_modal", title:"#{collab.login}", chart_id:"estimates_#{collab.login}_modal_div"}%>

		</div>
		<script>
		  google.charts.load('current', {'packages':['corechart']});
	      google.charts.setOnLoadCallback(drawChart<%= raw collab.login%>);
	      function drawChart<%= raw collab.login%>() {
	        var data = google.visualization.arrayToDataTable(<%= raw collab.get_history_chart_data %>);

	        var options = {
	          hAxis: {minValue: 0, maxValue: 15, title:'Estimated Hours'},
	          vAxis: {minValue: 0, maxValue: 15, title: 'Actual Hours'},
	          trendlines: {
	            0: {
	              type: 'linear',
	            },
	            1: {
	              type: 'linear',
	              color: '#990099',
	              pointsVisible: false
	            }
	          },
	          series: {1: {pointsVisible: false, visibleInLegend: false}},
	          legend: { position: 'none' }
	        };

	        var chartLinear = new google.visualization.ScatterChart(document.getElementById('<%= "estimates_#{collab.login}" %>'));
	        var modalChartLinear = new google.visualization.ScatterChart(document.getElementById('<%= "estimates_#{collab.login}_modal_div" %>'));

	        chartLinear.draw(data, options);
	        modalChartLinear.draw(data, options);

	      }

	      //Redraw chart when modal opens
		  $('<%= "#estimates_#{collab.login}_modal" %>').on('shown.bs.modal', function (e) {
		  	drawChart<%= raw collab.login%>();
		  }) 

		  //Redraw chart when window resizes
		  $(window).resize(function(){
		  	drawChart<%= raw collab.login%>();
		  });

		</script>
	<% end %>
	</div>


	<script>
	  google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= raw @combined_collab_history_chart %>);

        var options = {
          hAxis: {minValue: 0, maxValue: 15, title:'Estimated Hours'},
          vAxis: {minValue: 0, maxValue: 15, title: 'Actual Hours'},
          trendlines: {
            0: {
              type: 'linear',
              color: '#990099',
              pointsVisible: false
            },
            <% @collabs.length.times do |i| %>
            	<% if @collabs.length-1 == i %>
            		<%= i+1%>:{type: 'linear'}
            	<% else %>
            		<%= i+1%>:{type: 'linear'},
            	<% end %>

            <% end %>

          },
          series: {0: {pointsVisible: false, visibleInLegend: false}},
          legend: { position: 'bottom' }
        };

        var chartLinear = new google.visualization.ScatterChart(document.getElementById('<%= "estimates_all_devs" %>'));

        var modalChartLinear = new google.visualization.ScatterChart(document.getElementById('<%= "estimates_all_devs_modal_div" %>'));

        chartLinear.draw(data, options);
        modalChartLinear.draw(data, options);
      }

      //Redraw chart when modal opens
	  $('<%= "#estimates_all_devs_modal" %>').on('shown.bs.modal', function (e) {
		drawChart();
	  }) 

	  //Redraw chart when window resizes
	  $(window).resize(function(){
	  	drawChart();
	  });
	</script>

	<!-- End dev info -->

	<!-- Activate tooltips -->
	
	<% end %>


<% else %>
	<h1>Sign In With GitHub</h1>
	
<% end %>
</div>

<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip({placement: "right"});
    });
</script>











